<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <!-- CSS only -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="container mt-5 d-flex">
            <div class="panel w-25">
                <form action="/create" method="post">
                    <input
                        type="text"
                        placeholder="enter filename"
                        class="form-control"
                        name="filename"
                    />
                </form>
                <hr />
                <ol>
                    <% files.forEach(function(file){ %>
                    <li class="">
                        <a class="text-decoration-none" href="/file/<%= file%>"
                            ><%= file %></a
                        >
                        &nbsp; &nbsp;
                        <a
                            class="text-decoration-none"
                            href="/delete/<%= file %>"
                            >❌</a
                        >
                    </li>
                    <% })%>
                </ol>
            </div>

            <% if(filename === null){ %>
            <h3 class="text-muted mt-5 w-100 text-center">No File Opened!</h3>
            <!--  -->
            <% } else { %>
            <!--  -->
            <form
                class="screen w-75 ms-3 d-flex flex-column align-items-start"
                action="/update/<%= filename%>"
                method="post"
            >
                <button class="text-primary btn btn-transparent">
                    <span class="activefile"> <%= filename %> </span>
                    <a class="fs-5" href="/">x</a>
                </button>

                <textarea
                    class="updatingtext"
                    onfocus="changeText()"
                    name="filedata"
                    class="form-control mt-3 w-100"
                    name=""
                    id=""
                    cols="130"
                    rows="20"
                >
<%= filedata%></textarea
                >
            </form>

            <% } %>
        </div>

        <script>
            const activefile = document.querySelector(".activefile");
            const updatingtext = document.querySelector(".updatingtext");

            function changeText(e) {
                activefile.style.color = "red";
            }
        </script>
    </body>
</html>
